<ul class="social @@if (context.class) { @@class } @@if (context.mod) { social--@@mod }">
  <li class="social__item">
    <a class="social__link" href="#" aria-label="мы в Facebook" target="_blank" rel="nofollow noopener noreferrer">
      <img class="social__icon social__icon--silver"
           src="img/content/icon-fb.png"
           srcset="img/content/icon-fb@2x.png 2x"
           width="8"
           height="15"
           alt="иконка facebook">
      <img class="social__icon social__icon--gold"
           src="img/content/icon-fb-gold.png"
           srcset="img/content/icon-fb-gold@2x.png 2x"
           width="8"
           height="15"
           alt="иконка facebook">
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="#" aria-label="мы во Вконтакте" target="_blank" rel="nofollow noopener noreferrer">
      <img class="social__icon social__icon--silver"
           src="img/content/icon-vk.png"
           srcset="img/content/icon-vk@2x.png 2x"
           width="11"
           height="13"
           alt="иконка ВКонтакте">
      <img class="social__icon social__icon--gold"
           src="img/content/icon-vk-gold.png"
           srcset="img/content/icon-vk-gold@2x.png 2x"
           width="11"
           height="13"
           alt="иконка ВКонтакте">
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="#" aria-label="мы в Twitter" target="_blank" rel="nofollow noopener noreferrer">
      <img class="social__icon social__icon--silver"
           src="img/content/icon-twitter.png"
           srcset="img/content/icon-twitter@2x.png 2x"
           width="11"
           height="13"
           alt="иконка twitter">
      <img class="social__icon social__icon--gold"
           src="img/content/icon-twitter-gold.png"
           srcset="img/content/icon-twitter-gold@2x.png 2x"
           width="11"
           height="13"
           alt="иконка twitter">
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="#" aria-label="мы в Google+" target="_blank" rel="nofollow noopener noreferrer">
      <img class="social__icon social__icon--silver"
           src="img/content/icon-google.png"
           srcset="img/content/icon-google@2x.png 2x"
           width="14"
           height="12"
           alt="иконка twitter">
      <img class="social__icon social__icon--gold"
           src="img/content/icon-google-gold.png"
           srcset="img/content/icon-google-gold@2x.png 2x"
           width="14"
           height="12"
           alt="иконка twitter">
    </a>
  </li>
</ul>
